body {
  height: 3000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  align-items: center;
  /*margin-top: 150px;*/
}

.introduce {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
}
.profile {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}
/*프로필 이미지*/
.profile-img {
  width: 300px;
  height: 400px;
  background-image: url('../../Gallery/img/구름.jpeg');
  background-size: cover;
  background-position: center;
}
/*프로필 정보*/
.profile-info {
  width: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.gallery {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
/*이미지*/
.gallery-img {
  background-size: cover;
  background-position: center;
  height: 45vh;
  width: 20vw;
  margin-left: 1.5vw;
  padding : 20px;
}
/*갤러리로 스크롤 내리는 버튼*/
.galleryBtn {
  position: relative;
  top:0;
  right: 20px;
  width: 160px;
  height: 40px;
  font-size: 16px;
  background-color:transparent;
}
.profileBtn {
  top: 0;
  right: 20px;
  width: 160px;
  height: 40px;
  font-size: 16px;
  position: relative;
  background-color:transparent;
}


/* 모달 배경 */
.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* 모달 콘텐츠 */
.modal_popup {
  max-width: 50%;
  max-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*모달 이미지*/
.modal_img {
  width: 30vw;
  height: 80vh;
}
header {
  height: 75px;
  width: 100vw;
  color: white;
  /*background: teal;*/
  font-weight: bold;
  display: flex;
  justify-content: end;
  align-items: end;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}

